.country-detail {
	margin-top: 210px;
	min-height: 100vh;
	max-width: 720px;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	
	border: 1px solid #282B30;
	background-color: #1B1D1F;
	border-radius: 15px;
}

.img-detail {
	max-width: 260px;
	width: 260px;
	height: fit-content;
	border-radius: 15px;
	margin-top: -50px;
}

.country-data {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-evenly;
	gap: 20px;
}

.data-tag {
	width: fit-content;
	padding: 15px;
	border-radius: 15px;
	background-color: #282B30;
}

.country-info-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.country-info {
	width: 100%;
	height: 65px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #282B30;
}

.country-neighbours {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-x: auto;
}

.neighbour-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.neighbour-img {
	max-width: fit-content;
	width: fit-content;
	height: 60px;
	border-radius: 5px;
}

.neighbour {
	padding: 8px 12px;
}

.neighbour:hover {
	transform: scale(1.10);
	cursor: pointer;
}

@media (max-width: 640px) {
	.country-data {
		gap: 10px;
		padding: 0 5px;
	}
	.title-text {
		font-size: 14px;
	}
	.data-tag {
		padding: 10px;
	}
}